<body>
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex mt-2">
      <button class="btn btn-link custom-button text-decoration-none me-3"
              [ngClass]="{'active': activeButton === 'categories'}"
              (click)="setActive('categories')" [routerLink]="['/']">Catégories</button>
      <button class="btn btn-link custom-button text-decoration-none"
              [ngClass]="{'active': activeButton === 'events'}"
              (click)="setActive('events')" [routerLink]="['/event-list']">Évènements</button>
    </div>
    <div class="d-flex align-items-center ms-auto mt-4">
      <span class="filter-by-text me-3">Trier par</span>
      <select class="form-select custom-select" aria-label="Trier par" (change)="setSortOrder($event)">
        <option value="part-desc" selected>Nombre de participants décroissant</option>
        <option value="part-asc">Nombre de participants croissant</option>
        <option value="date-asc">Date la plus loin</option>
        <option value="date-desc">Date la plus proche</option>
      </select>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  <div *ngIf="allEvents && allEvents.length>0 && !loading; else noEvents"></div>
  <div *ngFor="let event of allEvents">
    <app-event-list-item [event]="event"></app-event-list-item>
  </div>
  <ng-template #noEvents>
    <div class="text-center" *ngIf="!loading">
      <h1 class="text-light display-1">Aucun évènement pour le moment.</h1>
      <h2 class="text-light">Revenez plus tard, ou créez un nouvel évènement !</h2>
    </div>
  </ng-template>
</div>
<div class="d-flex justify-content-md-end me-3">
  <button class="btn-custom-1"  (click)="scrollToTop()">Haut de page</button>
</div>
</body>

