body {
  background-color: var(--night);
  color: var(--antiflash);
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 93.3vh;
}

.custom-button {
  position: relative;
  color: var(--antiflash);
  font-weight: bold;
}

.custom-button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--lavender);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.custom-button:hover {
  color: var(--lavender);
}

.custom-button:hover::after,
.custom-button:focus::after,
.custom-button.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-button.active {
  color: var(--lavender);
}

.input-group {
  width: 20%;
}

.input-group-text {
  background-color: var(--raisinblack);
  color: var(--taupegray);
  border: 1px solid var(--taupegray);
  border-right: transparent;
}

.text-custom {
  font-family: 'Rubik-Regular', sans-serif;
  color: var(--taupegray);
}

.form-control {
  background-color: var(--raisinblack);
  color: var(--taupegray);
  border: 1px solid var(--taupegray);
  border-left: transparent;
  border-radius: 0.25rem;
  font-family: 'Rubik-Regular', sans-serif;
}

.form-control:focus {
  color: var(--antiflash);
  box-shadow: none;
}

.form-control::placeholder {
  color: var(--taupegray);
}

.display-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}



