body {
  background-color: var(--night);
  color: var(--antiflash);
}

.container-fluid {
  padding-left: 2.60%;
  padding-right: 2.60%;
}

.custom-button {
  position: relative;
  color: var(--antiflash);
  font-weight: bold;
}

.custom-button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--lavender);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.custom-button:hover {
  color: var(--lavender);
}

.custom-button:hover::after,
.custom-button:focus::after,
.custom-button.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-button.active {
  color: var(--lavender);
}

.input-group {
  width: 20%;
}

.input-group-text {
  background-color: var(--raisinblack);
  color: var(--taupegray);
  border: 1px solid var(--taupegray);
  border-right: transparent;
}

.text-custom {
  font-family: 'Rubik-Regular', sans-serif;
  color: var(--taupegray);
}

.display-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.filter-by-text {
  font-family: 'Rubik-Bold', sans-serif;
  color: var(--antiflash);
}

.custom-select {
  background-color: var(--eerieblack);
  color: var(--antiflash);
  border: 1px solid var(--taupegray);
  border-radius: 0.25rem;
  font-family: 'Rubik-Regular', sans-serif;
  outline: none !important;
}

.custom-select:focus {
  outline: none !important;
}

.custom-select option {
  background-color: var(--eerieblack);
  color: var(--antiflash);
  outline: none !important;
}

.custom-select option:checked {
  background-color: var(--veronica);
  -webkit-tap-highlight-color: transparent;
}

.d-flex.align-items-center {
  white-space: nowrap;
}

.btn-custom-1 {
  background-color: var(--veronica);
  color: var(--antiflash);
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 700;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
