<head>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex mt-2">
      <button class="btn btn-link custom-button text-decoration-none me-3"
              [ngClass]="{'active': activeButton === 'categories'}"
              (click)="setActive('categories')">Catégories</button>
      <button class="btn btn-link custom-button text-decoration-none"
              [ngClass]="{'active': activeButton === 'events'}"
              (click)="setActive('events')">Évènements</button>
    </div>
    <div class="d-flex ms-auto mt-4">
      <select class="form-select" aria-label="Trier par">
        <option selected>Trier par</option>
        <option value="1">Évènements (décroissant)</option>
      </select>
    </div>
  </div>
  <div class="input-group mb-4">
    <span class="input-group-text">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="16" height="16" fill="currentColor">
      <rect width="256" height="256" fill="none"/>
      <circle cx="112" cy="112" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/>
      <line x1="168.57" y1="168.57" x2="224" y2="224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/>
    </svg>
  </span>
    <input class="form-control border-custom" type="text" placeholder="Rechercher une catégorie" id="example-search-input">
  </div>
  <div class="row" *ngIf="categories && categories.length">
    <div class="col mb-4" *ngFor="let category of categories">
      <app-category-list-item [category]="category"></app-category-list-item>
    </div>
  </div>

  <div *ngIf="!categories || categories.length === 0">
    <p>No category available.</p>
  </div>
</div>
</body>
