<body>
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex mt-2">
      <button class="btn btn-link custom-button text-decoration-none me-3"
              [ngClass]="{'active': activeButton === 'categories'}"
              (click)="setActive('categories')">Catégories</button>
      <button class="btn btn-link custom-button text-decoration-none"
              [ngClass]="{'active': activeButton === 'events'}"
              (click)="setActive('events')">Évènements</button>
    </div>
    <div class="d-flex ms-auto mt-4">
      <select class="form-select" aria-label="Trier par">
        <option selected>Trier par</option>
        <option value="1">Évènements (décroissant)</option>
      </select>
    </div>
  </div>


  <div class="input-group flex-nowrap mb-4">
    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="Rechercher une catégorie" aria-label="Username" aria-describedby="addon-wrapping" id="example-search-input" (input)="onSearchCategory($event)">
  </div>

  <div *ngIf="categoriesFromSearch; else showCategories">
    <div class="display-categories" *ngIf="categoriesResult && categoriesResult.length > 0 else noCategories ">
      <div *ngFor="let category of categoriesResult">
        <app-category-list-item [category]="category" [eventsCount]="categoryEventCounts.get(category) ?? 0"></app-category-list-item>
      </div>
    </div>
  </div>

  <ng-template #showCategories>
    <div class="display-categories" *ngIf="allCategories && allCategories.length > 0; else noCategories">
      <div  *ngFor="let category of allCategories">
        <app-category-list-item [category]="category" [eventsCount]="categoryEventCounts.get(category) ?? 0"></app-category-list-item>
      </div>
    </div>
  </ng-template>

  <ng-template #noCategories>
    <div class="text-center">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2021/07/21/12/49/error-6482984_1280.png" alt="Aucun résultat trouvé" style="max-width: 600px; margin-bottom: 20px;">
      <h1 class="text-light display-1">Aucun résultat trouvé pour "{{ searchQuery }}"</h1>
      <h2 class="text-light">Assurez-vous que tous les mots sont orthographiés correctement ou essayez différents mots-clés.</h2>
    </div>

  </ng-template>


</div>

</body>
