.custom-img-size {
  width: 250px;
  height: auto;
}

.custom-card-size {
  width: 252px;
  height: auto;
  background-color: var(--night);
  border-bottom: 20px solid transparent;
}

.card-title {
  font-family: 'Rubik-Bold', sans-serif;
  color: var(--antiflash);
}

.card-text {
  font-family: 'Rubik-Regular', sans-serif;
  color: var(--antiflash);
}

.card-title:hover {
  color: var(--lavender);
}

.pointer {
  cursor: pointer;
}
