.custom-img-size {
  width: 250px;
  height: auto;
}

.custom-card-size {
  width: 252px;
  height: auto;
}

.card-title {
  font-family: 'Rubik-Regular',sans-serif;
  color: var(--antiflash);
}

.card-title:hover {
  color: #BF94FF;
}


