<div class="container d-flex justify-content-center" *ngIf="event" >
  <div class="card mb-3 custom-card-size mt-3" style="width: 70%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{event.category.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">Type : {{event.type.name}}</p>
          <p class="card-text">{{event.description}}</p>
          <p class="card-text date-text">Créé le : {{event.createdAt|date : "dd/MM/YYYY"}}</p>
          <p class="card-text date-text">Date de l'évènement : {{event.eventDate|date : "dd/MM/YYYY"}}</p>
          <div class="d-flex justify-content-between">
            <p class="card-text">Nombre de participants : {{users.length}}</p>
            <button class="btn btn-primary btn-custom-1 me-2" type="button" [routerLink]="['/event-feedback-details',event.eventId]">Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
