<div class="container">
  <form
    [formGroup]="addEvent"
    class="needs-validation"
    (ngSubmit)="onSubmit()">
    <br>
    <div>
      <label>Title :</label>
      <input type="text" class="form-control" formControlName="title"
             [class.is-invalid]="title.invalid && title.touched"
             [class.is-valid]="title.valid && title.touched">
      <div *ngIf="title?.invalid && title.touched" class="invalid-feedback text-danger"
      >
        <div *ngIf="title?.errors?.['required']">Un titre est requis</div>
        <div *ngIf="title?.errors?.['minlength']">Un titre doit contenir 5 caractères ou plus</div>
        <div *ngIf="title?.errors?.['maxlength']">Un titre doit contenir 150 caractères ou moins</div>
      </div>
    </div>
    <div>
      <label>Catégorie :</label>
      <select name="category" id="category" class="form-control" formControlName="category" [class.is-invalid]="category.invalid && category.touched"
              [class.is-valid]="category.valid && category.touched">
        <option value="" disabled selected></option>
        <option *ngFor="let category of categories" [value]="category.categoryId" >{{category.name}}</option>
      </select>
      <div *ngIf="category?.invalid && category.touched" class="invalid-feedback text-danger"
      >
        <div *ngIf="category?.errors?.['required']">Une catégorie est requise</div>
      </div>
    </div>
    <div>
      <label>Type :</label>
      <select name="type" id="type" class="form-control" formControlName="type" [class.is-invalid]="type.invalid && type.touched"
              [class.is-valid]="type.valid && type.touched">
        <option value="" disabled selected></option>
        <option *ngFor="let type of types" [value]="type.id" >{{type.name}}</option>
      </select>
      <div *ngIf="type?.invalid && type.touched" class="invalid-feedback text-danger"
      >
        <div *ngIf="type?.errors?.['required']">Un type d'évènement est requis</div>
      </div>
    </div>
    <div>
      <label>Description :</label>
      <textarea class="form-control content-textarea" formControlName="description" rows="2" [class.is-invalid]="description.invalid && description.touched"
                [class.is-valid]="description.valid && description.touched"></textarea>
      <div *ngIf="description?.invalid && description.touched" class="invalid-feedback text-danger">
        <div *ngIf="description?.errors?.['required']">Une description est requise</div>
        <div *ngIf="description?.errors?.['maxlength']">Une description doit avoir 2500 caractères ou moins</div>
      </div>
    </div>
    <div>
      <label>Adresse :</label>
      <input type="text" class="form-control" formControlName="location"
             [class.is-invalid]="location.invalid && location.touched"
             [class.is-valid]="location.valid && location.touched">
      <div *ngIf="location?.invalid && location.touched" class="invalid-feedback text-danger"
      >
        <div *ngIf="location?.errors?.['required']">Une adresse est requise</div>
      </div>
    </div>
    <div>
      <label>Date de l'évènement :</label>
      <input type="date" class="form-control" formControlName="eventDate"
             [min]="minDate"
             [class.is-invalid]="eventDate.invalid && eventDate.touched"
             [class.is-valid]="eventDate.valid && eventDate.touched">
      <div *ngIf="eventDate?.invalid && eventDate.touched" class="invalid-feedback text-danger">
        <div *ngIf="eventDate?.errors?.['required']">Une date est requise</div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;" (click)="onClose()">Retour</button>
      <button type="submit" class="btn btn-success">Créer l'évènement</button>
    </div>
  </form>
</div>
