@font-face {
  font-family: 'Rubik-Bold';
  src: url('assets/fonts/Rubik.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('assets/fonts/Rubik.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --antiflash: #EFEFF1;
  --night: #0E0E10;
}
