<head>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <title></title>
</head>
  <nav class="navbar navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand navbar-brand-custom ms-2" [routerLink]="['/']">GAMEPARTY</a>
<!--      <img src="https://i.postimg.cc/nrnfq460/fontbolt-2.png" alt="logo">-->
      <div class="d-flex">
        <button class="btn btn-custom-1 me-2" type="button" [routerLink]="['/event-feedback-list']">Évènements passés</button>
<!--        <button class="btn btn-custom-2" type="button" [routerLink]="['/add-event']">Créer un évènement</button>-->
        <button class="btn btn-custom-2" type="button" (click)="openAddEventModal()">Créer un évènement</button>
      </div>
    </div>
  </nav>

